.ResizableBox {

    position: fixed;
    display: flex;
    flex-direction: column;
    
}
.resizable-anchor {
    position: absolute;
    width:5px;
    height:5px;
    background-color: red;
    border: solid 3px red;
    border-radius: 5px;
}.resizable-anchor:hover{

}
.BoxRow {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.resizable-box {
    position: relative;
    background-color: lightgrey;
    overflow: hidden;
}
.child-container {
    border:solid red 2px;
    object-fit: fill;
}


.resize-handle {
    width: 10px;
    height: 10px;
    background-color: darkgray;
    position: absolute;
}

.resize-handle-se {
    right:-5px;
    bottom:-3px;

    cursor: se-resize;
}
.resize-handle-sw {
    left:-3px;
    bottom:-3px;
    cursor: sw-resize;
}
.resize-handle-s {
    bottom:-3px;
    right: calc(50%-5px);
    cursor: s-resize;
}
.resize-handle-n {
    left: calc(50%-5px);
    top:-3px;
    cursor: n-resize;
}
.resize-handle-ne {
    top:-3px;
    right:-3px;
    cursor: ne-resize;
}
.resize-handle-nw {
    top:-3px;
    left:-3px;
    cursor: nw-resize;
}