.navBarBox {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    color: var(--blue-light);
}

.navPositioning {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.logo {

}
.menu {

}
.save-button {
    background-color: var(--blue-rgb-transparent-dark);
    color: rgba(51,212,217);
    backdrop-filter: blur(10px);
    border: var(--blue-light) 1px solid;
    border-radius: 3px;
    min-width:55px;
    min-height: 35px;
    font-size:large;
    margin: 4px 4px;
    box-shadow: inset 0px 0px 4px #000;

}
.save-button:hover{
    cursor: pointer;
    background-color: var(--blue-rgb-transparent-mid)
}
/* Animations */
.nav-y-slide {
animation: slide .3s ease-in;
}
@keyframes slide {
    0% {transform: translateY(0);}
    100% {transform: translatey(-100%);}
}
.nav-y-slide-reverse {
    animation: slide-reverse .3s ease-in;
}
@keyframes slide-reverse {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0%);}
}
