  :root {
    /* BlueScale Colors */
    --blue-darkest: #060c18;
    --blue-darker: #081e33;
    --blue-mid: #0e4361;
    --blue-light: #33d4d9;
    --blue-lightest: #47ffff;

    --blue-rgb-darkest: rgb(6, 12, 24);
    --blue-rgb-dark: rgb(8, 30, 51);
    --blue-rgb-mid: rgb(14, 67, 97);
    --blue-rgb-light: rgb(51, 212, 217);
    --blue-rgb-lightest: rgb(71, 255, 255);

    --blue-rgb-transparent-darkest: rgba(6, 12, 24,.5);
    --blue-rgb-transparent-dark: rgba(8, 30, 51,.5);
    --blue-rgb-transparent-mid: rgba(14, 67, 97,.5);
    --blue-rgb-transparent-light: rgba(51, 212, 217,.5);
    --blue-rgb-transparent-lightest: rgba(71, 255, 255,.5);
    


    /* PurpleScale Colors */
    --purple-darkest: #300831;
    --purple-darker: #552455;
    --purple-mid: #913076;
    --purple-light: #aa3d9a;
    --purple-lightest: #ff8def;

    --purple-rgb-darkest: rgb(30, 8, 31);
    --purple-rgb-dark: rgb(85,36,85);
    --purple-rgb-mid: rgb(145,48,118);
    --purple-rgb-light: rgb(170,61,118);
    --purple-rgb-lightest: rgb(255,141,239);

    --purple-rgb-transparent-darkest: rgba(30, 8, 31,.5);
    --purple-rgb-transparent-dark: rgba(85,36,85,.5);
    --purple-rgb-transparent-mid: rgba(145,48,118,.5);
    --purple-rgb-transparent-light: rgba(170,61,118,.5);
    --purple-rgb-transparent-lightest: rgba(255,141,239,.5);
}
body {
  background-color:#191b26;
  height:100vh;
  width:100vw;
  overflow: hidden;
}
